* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(159, 207, 221);
}

.two-sides{
    display:contents;
}

.pad p {
    text-align: right;
    font-style: oblique;
    font-size: 16px !important;
}

.logo-image img {
    width: 120px;
    margin-right: 20px;
}

.logo-text {
    position: relative; 
}

.logo-text-inside {
    width: 100vw; 
    display: inline-block;
    padding-top: 5px;
    background-color: white; 
    box-sizing: border-box; 
}

.news, .catalog, .promotions, .announcements {
    cursor: pointer; 
    padding: 2px 5px;
    display: inline-block; 
    border-radius: 15px;
}

.news:hover, .promotions:hover, .announcements:hover {
    background-color: #DEB4A8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; 
    top: 100%;
    margin-top: 5px;
}

.dropdown-content a {
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
}

.dropdown-content a:hover {
    background-color: #DEB4A8;
}

.catalog:hover {
    background-color: #DEB4A8; 
}


.logo-text h5 {
    font-family: "Italianno", cursive;
    font-size: 64px;
    font-weight: 400;
    margin-top: 0;
}

.logo-text p {
    font-size: 24px;
    letter-spacing: 2px;
    margin: 5px;
    padding-left: 5px;
    margin-top: 0;
}

.logo-text-inside {
    width: 70vw;
    display: inline-block;
    padding-top: 5px;
    background-color: white;
    box-sizing: border-box;
}

.social {
    text-align: right;
    margin-top: 15px;
}
        
.social a img {
    width: 30px;
    margin-right: 10px;
            
}

.search {
    background-color: white;
    margin-left: 50px;
    display: inline-block;
    align-items: center;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
}

.search input {
    border: none;
    outline: none;
    font-size: 14px;
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.burger-menu {
    display: none;
}

@media (max-width: 768px) {

    .two-sides {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        width: 100%;
        padding-left: 10px; 
    }

    .logo-image {
        order: 1;
        margin-bottom: 10px;
    }

    .burger-menu, .search {
        order: 2;
        display: flex;
        align-items: center;
        width: auto;
    }

    .burger-menu {
        margin-right: 10px;
    }

    .search {
        flex: 1;
        min-width: 150px;
    }

    .burger-btn {
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .burger-content {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        background-color: #ffffff;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .burger-content a {
        display: block;
        padding: 10px 20px;
        color: black;
        text-decoration: none;
    }

    .burger-content a:hover {
        background-color: #DEB4A8;
    }

    .burger-menu.active .burger-content {
        display: block;
    }
}

@media (max-width: 768px) {
    .logo-text-inside {
        display: none;
    }
    .pad {display: none;
    }
}

.h-text{
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 100px;
    text-align: left;
}

.h-text1{
    font-size: 36px;
    padding-top: 130px;
    padding-bottom: 0px;
    padding-left: 100px;
}

.bg-color-pink{
    display: flexbox;
    width: 100%;
    height: 448px;
    background-color: #DEB4A8;
}

.slider-container {
    display: flexbox;
    padding: 10px;
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    flex: 0 0 100%;
}

.book {
    display: flexbox;
    padding-top: 25px;
    padding-bottom: 15px;
    flex: 0 0 calc(25% - 20px);
    text-align: center;
}

.book p{
    font-size: 28px;
}

.book span{
    font-size: 28px;
}

.book img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ccc;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 768px) {
    .h-text {
        font-size: 24px;
        padding-top: 50px;
        padding-bottom: 15px;
        padding-left: 20px;
    }

    .bg-color-pink {
        height: auto;
        padding: 10px;
    }

    .slider-container {
        width: 95%;
        padding: 5px;
    }

    .slide {
        padding: 5px;
        border: 2px solid #ccc; 
        border-radius: 0px; 
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
    }

    .book {
        flex: 0 0 calc(33.33% - 10px); 
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .book img {
        width: 120px; 
        height: 180px; 
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .book p, .book span {
        font-size: 16px; 
    }

    button {
        padding: 5px; 
    }
}


.preorder-slider-container {
    position: relative;
    width: 90%;
    margin: 25px auto;
    overflow: hidden;
    background-color: #DEB4A8;
    border-radius: 0px;
    padding: 20px;
}

.preorder-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.preorder-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.preorder-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.preorder-image img {
    padding: 50px;
    background-color: white;
    border: 25px;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.preorder-text {
    max-width: 80%;
    padding-left: 20px;
    word-wrap: break-word; 
}

.preorder-text h3 {
    display: flex;
    font-size: 28px;
    margin-bottom: 15px;
}

.preorder-text p {
    display: flex;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.order-button {
    display: flex;
    margin: 200px;
    margin-left: 400px;
    margin-top: 170px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-button:hover {
    background-color: rgb(159, 207, 221);
}

.preorder-prev, .preorder-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    z-index: 2;
}
.preorder-prev {
    left: 10px;
}

.preorder-next {
    right: 10px;
}

.preorder-prev:hover, .preorder-next:hover {
    background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) { /* Зменшення для мобільних пристроїв */
    .preorder-slider {
        gap: 100px; /* Зменшення простору між слайдами */
    }

    .h-text1 {
        font-size: 24px;
        padding-top: 50px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .preorder-slide {
        min-width: 90%; /* Зменшення ширини слайда */
    }

    .preorder-image img {
        padding: 30px; /* Зменшення відступу для зображення */
        width: 200px; /* Зменшення ширини зображення */
    }

   .preorder-text p {
        display: none; /* Приховуємо всі абзаци */
    }

    .preorder-text p:nth-of-type(1) {
        display: block; /* Показуємо тільки перший абзац */
    }

    .preorder-text p:after {
        content: "..."; /* Додаємо три крапки після першого абзацу */
    }

    .order-button {
        margin: 50px auto; /* Центрування кнопки */
        margin-top: 50px; 
        margin-bottom: 0px;/* Зменшення верхнього відступу */
        padding: 8px 16px; /* Зменшення внутрішніх відступів */
        font-size: 16px; /* Зменшення шрифту */
        position: relative;
    }

    .preorder-prev, .preorder-next {
        padding: 8px; /* Зменшення розміру кнопок навігації */
        font-size: 20px; /* Зменшення шрифту кнопок навігації */
    }

    .preorder-text p:after {
        content: "..."; /* Додаємо три крапки після першого абзацу */
    }
}


.book-recommendations {
    display: flexbox;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 10px;
}

.book-item {
    width: 150px;
    text-align: center;
    padding-bottom: 50px;
}

.book-item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.book-title {
    font-size: 28px;
    text-align: left;
    width: 200px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    transition: all 0.3s;
}

.book-title:hover {
    white-space: normal; 
    background-color: rgba(255, 255, 255, 0.8); 
    position: relative;
    z-index: 1;
}

.book-price {
    background-color: transparent;
    font-size: 28px;
    color: black;
    transition: background-color 0.3s;
    border-radius: 15px;
    margin-left: 30px;
}

.book-price:hover {
    margin-left: 25px;
    background-color: rgb(159, 207, 221);
}

.pagination {
    margin-top: 20px;
}

.pagination a, .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #3498db;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #2980b9;
    color: white;
}

.pagination span {
    color: #666;
}

@media (max-width: 768px) {
    .book-grid {
        grid-template-columns: repeat(3, 1fr); /* Відображення трьох книг в ряд */
        margin-left: 10px; /* Відступ зліва */
        margin-right: 10px; /* Відступ справа */
    }
    
    .book-recommendations {
        margin: 0px;
        align-items: center;
    }

    .book-item {
        margin: 10px;
        width: auto; 
    }
}

.video-section {
    text-align: center;
    margin: 40px 0;
}

.video-title {
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 100px;
    text-align: left;
}

.video-frame {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .video-section {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .video-frame {
        max-width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

footer {
    display: flexbox;
    background-color: rgb(159, 207, 221);
    padding: 20px;
    color: #000;
    font-family: Arial, sans-serif;
    margin-top: 100px;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
}
  
.footer-section {
  width: 30%;
}

.footer-social {
    margin-top: 15px;
}
  
.footer-social a img {
    width: 30px;
    margin-right: 10px;
    
}
  
.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.footer-section ul {
    list-style-type: none;
    padding: 0;
}
  
.footer-section li {
    margin-bottom: 5px;
}
  
.payment-icons img {
    width: 250px;
    margin-right: 5px;
    margin-top: 10px
}
  
.footer-contact {
    margin-top: 15px;
}
  
.footer-contact p {
    margin: 5px 0;
}
  
.footer-legal {
    margin-top: 20px;
    font-size: 12px;
    text-align: left;
}
  
.footer-legal a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 50px;
    }
    
    .payment-icons img {
       width: 85%;
       height: auto;
    }
}

.reviews-quotes-container {
    display: flex;
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.reviews, .quotes {
    background-color: #DEB4A8;
    border-radius: 15px;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
    width: 40%;
}

.header {
    width: 120px;
    background-color: white;
    color: #5c5c5c;
    padding: 10px;
    border-radius: 50px;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}

.review-item, .quote-item {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.review-title, .review-text, .quote-text, .quote-author {
    margin: 5px 0;
    font-size: 14px;
}

.review-title {
    color: #635fdb;
    font-weight: bold;
}

.review-link, .quote-link {
    color: #635fdb;
    text-decoration: none;
    font-size: 12px;
}

.review-link:hover, .quote-link:hover {
    text-decoration: underline;
}

.quote-text {
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    color: #333;
}

@media (max-width: 768px) {
    .reviews-quotes-container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 0px;
    }

    .reviews, .quotes {
        width: 90%;
        margin-left: 0;
        margin-right: 0; 
        margin-bottom: 20px; 
    }
}














